html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --base__font: "Montserrat", sans-serif;
  --second__font: "Roboto", "Times New Roman", sans-serif;
  --section__hedind_font: "Kaushan Script";
  --body__bg_color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes line_scale_anim {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes line_scale_anim_befo {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

body {
  background-color: var(--body__bg_color);
  font-family: var(--base__font);
  color: rgb(51, 51, 51);
}

header {
  padding: 28px 0px 128px 0px;
}

.container {
  max-width: 1201px;
  margin: 0 auto;
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.nav__list {
  flex-basis: 491px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo a {
  font-size: 30px;
  font-family: var(--base__font);
  color: #95e1d3;
  font-weight: 700;
  line-height: 1.2;
}

.nav__link a {
  font-size: 14px;
  font-family: var(--base__font);
  color: #95e1d3;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

.nav__link::after {
  content: "";
  border-bottom: #f38181 solid 4px;
  display: block;
  overflow: hidden;
  opacity: 0;
  animation-timing-function: linear;
  animation: 0.2s line_scale_anim_befo;
}
.nav__link:hover.nav__link::after,
.nav__link:focus.nav__link::after {
  overflow: visible;
  opacity: 1;
  animation-timing-function: linear;
  animation: 0.2s line_scale_anim;
}

.section__service {
  padding-bottom: 88px;
}
.section__heading {
  text-align: center;
  line-height: 1.2;
  margin-bottom: 63px;
  max-width: 325px;
  margin: 0 auto 63px;
}

.section__heading_firstline {
  display: block;
  font-size: 24px;
  font-family: var(--section__hedind_font);
  font-weight: 400;
  margin-bottom: 17px;
}
.section__heading_secondline {
  display: block;
  font-size: 30px;
  font-family: var(--base__font);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.section__heading::after {
  content: "";
  display: block;
  border-bottom: #f38181 solid 4px;
  width: 60px;
  margin: 0 auto;
  animation-timing-function: linear;
  animation: 1s line_scale_anim;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.service__item {
  flex-basis: 383px;
  padding-left: 65px;
  background-repeat: no-repeat;
}
.service__item:nth-child(-n + 3) {
  margin-bottom: 100px;
}

.service__photography_ico {
  background-image: url("../img/ico/photography.png");
}
.service__design_ico {
  background-image: url("../img/ico/design.png");
}
.service__creativity_ico {
  background-image: url("../img/ico/crteativ.png");
}
.service__seo_ico {
  background-image: url("../img/ico/seo.png");
}
.service__css_ico {
  background-image: url("../img/ico/css.png");
}
.service__digital_ico {
  background-image: url("../img/ico/digital.png");
}

.service__item h3 {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 15px;
}
.service__item p {
  font-size: 15px;
  font-family: var(--second__font);
  line-height: 1.6;
  color: #999999;
}

.section__teem {
  padding-bottom: 85px;
}

.section__teem_heading_correct {
  margin: 0 auto 45px;
}
.section__teem_heading_paragraf {
  text-align: center;
  font-size: 15px;
  font-family: var(--second__font);
  line-height: 1.6;
  color: #999999;
  margin-bottom: 90px;
}

.card__teem_list {
  display: flex;
  flex-direction: row;
}

.card__teem {
  text-align: center;
  flex-basis: 381px;
}

.card__teem:hover .overlay,
.card__teem:focus .overlay {
  transform: translate(-10px, -10px);
  overflow: visible;
  opacity: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  animation-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: all;
  box-shadow: 10px 10px #95e1d3;
}

.overlay__container {
  position: relative;
}

.social__button_list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 224px;
  height: 100%;
}
.social__button a {
  display: block;
  width: 55px;
  height: 56px;
  transition-property: color;
  transition-duration: 0.2s;
  animation-timing-function: linear;
}
.social__button a:hover,
.social__button a:focus {
  background-color: #95e1d3;
}

.ico_facebook {
  background: #fce38a no-repeat url("../img/ico/facebook.png") center;
}
.ico_twitter {
  background: #fce38a no-repeat url("../img/ico/twitter.png") center;
}
.ico_pinterest {
  background: #fce38a no-repeat url("../img/ico/pinterest.png") center;
}
.ico_instagram {
  background: #fce38a no-repeat url("../img/ico/instagram.png") center;
}

.card__teem:not(:last-child) {
  margin-right: 29px;
}
.card__teem h3 {
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
}

.card__teem p {
  font-size: 15px;
  font-family: var(--second__font);
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
}

.card__teem img {
  margin-bottom: 28px;
}

.footer__container {
  border-top: #e5e5e5 solid 1px;
  flex-basis: 1201px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}
.footer__copyright {
  width: 312px;
  align-self: center;
}
.footer__copyright p {
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
}
.footer__copyright a {
  color: #f38181;
}

.footer__form {
  display: flex;
  height: 40px;
}
.footer__form input {
  width: 230px;
  border: #e5e5e5 solid 1px;
}

.footer__form input::placeholder {
  font-size: 15px;
  font-family: var(--second__font);
  color: rgb(204, 204, 204);
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  padding-left: 12px;
}
.footer__form button {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  width: 152px;
  background-color: #95e1d3;
  border: none;
}
